html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* My styles */

@font-face {
    font-family: "Rounded";
    src: url('../fonts/MPLUSRounded1c-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Rounded";
    src: url('../fonts/MPLUSRounded1c-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Round";
    src: url('../fonts/MPLUSRounded1c-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: "MarkScript";
    src: url('../fonts/MarckScript-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    background: #1E1E1E;
    overflow: hidden;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 300px;
    height: 100vh;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1rem;
    transition: 500ms;
}

.nav-menu h1 {
    min-height: 130px;
    height: 25%;

    font-family: 'MarkScript', serif;
    font-size: 1.8em;
    color: #FFFA1F;
    text-align: center;
    line-height: 1.1;

    padding: 15px;
}

.nav-menu h1:first-letter {
    font-size: 1.5em;
}

.nav-menu nav {
    min-height: 270px;
    height: 55%;
    padding: 10px;
    padding-left: 15px;
}

.nav-menu li a {
    display: block;
    padding: 0 10px;

    font-family: 'Round',sans-serif;
    font-size: 1.1em;
    color: #EAEAEA;
    line-height: 2.4;

    border-radius: 5px;

    transition: background ease 0.4s;
}

.nav-menu li a:hover {
    background: #414141;

}

.nav-menu address {
    min-height: 80px;
    height: 13%;
    padding: 5px 10px 5px 15px;

    font-family: 'MarkScript',serif;
    font-size: 1.2em;
    color: #FFFA1F;
}

.nav-menu address h2 {
    font-size: 1.2em;
    text-decoration: underline;
}

.nav-menu address p {
    padding-top: 5px;

    font-size: 1.1em;
}

.nav-menu>div {
    height: 7%;
    padding: 5px 10px;

    color: #FFFA1F;
}

.menu-small-button {
    /*display: none;*/
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
    min-height: 130px;
    width: 130px;
    z-index: 2;

    border: 3px solid #FFFA1F;
    border-radius: 20px;
    background: #1E1E1E;
    opacity: 0.85;

    text-align: center;
    line-height: 120px;
}

.menu-small-button h2 {
    font-family: 'Round', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #FFFA1F;
}

/* Стили для основной части страницы */

.main-page {
    display: grid;
    grid-template-areas: "menu . . ."
                        "menu . . ."    ;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 0;

    height: 100vh;
    transition: 400ms;
}

.main-page img {
    width: 100%;
    height: 100%;
    
}

.main-page a:after {
    display: block;
    content: attr(alt);
    position: absolute;
    box-sizing: border-box;
    top: -2em;
    padding: 10px; 
    color: #EAEAEA;
    text-align: center;
    font-family: 'Rounded',sans-serif;
    font-size: 1.5em;
    width: 100%;
    background: rgba(65,65,65,0.7);
    transition: 1s;
}

.main-page a:hover:after {
    filter: grayscale(0);
    top: 2em;
}

.main-page a:hover {
    filter: grayscale(0);
}

.main-page a {
    display: block;
    position: relative;
    overflow: hidden;

    filter: grayscale(100%);
    transition: 1s;
}



.psevdo-menu {
    grid-area: menu;
    height: 100vh;
}


/* Адаптация через медиа-запросы */

@media (max-width: 1200px) {
    
    .main-page {
        grid-template-areas: "menu . ."
                            "menu . ." 
                            "menu . ."   ;
        grid-template-columns: 300px 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}


@media (max-width: 900px), (max-height: 550px) {

    .nav-menu {
        width: 250px;
        font-size: 0.8rem;
    }

    .nav-menu li a {
        font-size: 1.4em;
    }

    .main-page {
        grid-template-columns: 250px 1fr 1fr;
    }

    .main-page a {
        filter: grayscale(0);
    }

    .main-page a:after {
        top: 2em;
    }


}

@media (max-width: 700px), (max-height: 400px) {

    .menu-small-button {
        visibility: visible;
    }

    .nav-menu {
        display: none;
    }

    .main-page {
        grid-template-columns: 0 1fr 1fr;
        
    }

    .main-page a[alt^="Виртуальные"]:after {
        top: 6em;
    }
}

@media (max-height: 500px) {

    .nav-menu address {
        display: none;
    }

    .nav-menu div {
        display: none;
    }

}